<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../head'); -%>

  <title><%= data.display_name %> BLM Protests 2020</title>
</head>

<body>

  <%- include('../../navigation'); -%>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center color-yellow" style="padding-top: 100px;font-size:50px;"><%= data.display_name %></h1>
        <p style="color: white; text-align: center;">Last Updated 6/8/20</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 25px;">
              <div class="card" style="width: inherit; background-color: transparent; height: inherit;">
                <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">State Wide
                    Donation
                    Links</h5>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.gofundme.com/f/peoples-city-council-ticket-fund">Peoples City Council Freedom Fund:</a> The Peoples City Council Freedom Fund is providing
                    legal support, medical bills, transportation, supplies and and protective gear to protesters.</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.blmla.org/">People's Budget:</a>
                    Los Angeles Black Lives Matter chapter is supporting organizers and fighting to adopt a "People's Budget" that reallocates police funding to vulnerable communities.</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.gofundme.com/f/orange-county-bail-fund">Orange County Bail Fund:</a>
                    The Orange County Bail Fund is helping pay bonds for protesters in Orange County Donate</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://actionnetwork.org/fundraising/ncrbailfund">
                      NorCal Resist:</a>NorCal Resist is helping provide bail funds for arrested protesters. </p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.paypal.me/peoplesprograms">
                      The People's Program:</a>Peoples Oakland is a private non-profit agency established by local residents as a community, planning and organizing agency. You can donate directly to their bail fund at the above link.</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.gofundme.com/f/help-us-raise-funds-to-support-our-community?utm_source=customer&utm_campaign=p_cp+share-sheet&utm_medium=copy_link-tips">
                      DeDe McClure Memorial Community Fund:</a>The DeDe McClure Memorial Community Fund is donating funds to free arrested protesters.</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.gofundme.com/f/georgefloyd">
                      Official George Floyd Memorial Fund</a></p>
                  <br>
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">National
                    Petitions</h5>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.change.org/p/mayor-jacob-frey-justice-for-george-floyd?utm_source=brand_us&utm_medium=media&use_react=false">Change.org:</a>
                    Justice for George Floyd</p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://petitions.whitehouse.gov/petition/justice-george-floyd-0">White House Petition:</a> Official US Government Petition
                  </p>
                  <p class="card-text"><a style="color: #ffcc00; text-decoration: underline;" href="https://www.justiceforbigfloyd.com/">Justice for Floyd:</a> Add your name
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="padding-bottom: 25px;">
              <div class="card" style="width: inherit; background-color: transparent;">
                <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 25px;">Protest
                    Locations</h5>
                    <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">Laguna Beach (June 10th 12pm) - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/Lkd8ShALWqnuu3Qe9">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">San Clemente (June 10th 5:30pm) - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/GgQB6QCRB8iobR6M9">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">Yorba Linda (June 10th 4pm) - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/uEck6CjrnMBR7hwD6">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">Downtown LA (Daily afternoon-evening) - <span><a style="color: #ffcc00; text-decoration: underline;"
                        href="https://goo.gl/maps/KFqjdXG7hMxp1zvG6">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">Silverlake (June 10th 3pm) - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/hZ9bu6UjE9rPuHXq5">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">San Diego (June 10th 3pm) - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/E824NcMSGmVM9ywU9">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">Newport Beach (June 11th 6:30pm) - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/nh4hVUkyBPkmgPm69">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">Huntington Beach (June 12th 1pm) - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/s5GA4rMCNpPUf1bM6">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">La Jolla (June 12th 1pm) - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/YaFGCKDfhBSbEah5A">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">San Juan Capistrano (June 12 4pm) - <span><a style="color: #ffcc00; text-decoration: underline;"
                        href="https://goo.gl/maps/ijJFrUpheTgosPj4A">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">Santa Ana (June 12th 6pm) - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/Ur6sFMnhdAadmJP29">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">Silverlake (June 12th 3pm) - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/6MqyvKLPzwMippcF6">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">Los Feliz (June 12th 4pm) - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/uaw1g8xqJzG87js17">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">Woodland Hills (June 12th 3pm) - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/LxQrVqtVuNKpqmta9">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">Pasadena (June 12th 5pm) - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/u3Hw4G7G7RQEDfJg7">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">Los Angeles (June 13th 11am) - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/iEjgdsVSgafnUBnc6">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">Escondido (June 13th 3pm) - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/LmRg6jGSse5LGv3r7">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">Pacific Beach (June 13th 2pm) - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/E824NcMSGmVM9ywU9">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">San Diego (June 13th 12pm) - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/JvEMJ1c8GyPGAjjP8">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">Diamond Bar (June 13th 11am) - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/L8Ht5Ghx4YjJ9TKg9">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">Buena Park (June 18th 12pm) - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/umB1kn4nTLGz1Ypr8">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">Fremont (June 19th 1pm) - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/uuu7TWPeHvKf8Eti7">
                        Get Directions</a></span></p>
                  <p style="background-color: #212529;border-radius:15px;" class="card-text text-center p-1">Temecula (Every Weekday 10am) - <span><a style="color: #ffcc00; text-decoration: underline;" href="https://goo.gl/maps/VmFWJ57HTRh2a9jJ6">
                        Get Directions</a></span></p>





                </div>
                <br>
                <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
                  <h5 class="card-title" style="color: #FFFFFF; font-size: 25px;">CA Social Medias
                  </h5>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/GavinNewsom?s=20">Gov. Newsom</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/MayorOfLA?s=20">Mayor Garcetti - Los Angeles</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/LondonBreed?s=20">Mayor Breed - San Fransisco</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/Kevin_Faulconer?s=20">Mayor Faulconer - San Diego</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/sliccardo?s=20">Mayor Liccardo - San Jose</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/LAPDHQ?s=20">Los Angeles Police</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/SanDiegoPD?s=20">San Diego Police</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/SFPD?s=20">San Fransisco Police</a></p>
                  <p style="background-color: #212529; border-radius: 15px; text-align: center;" class="card-text p-1"><a href="https://twitter.com/SanJosePD?s=20">San Jose Police</a></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card" style="width: inherit; background-color: transparent; height: 800px;">
          <div class="card-body" style="background-color: #2B2E32; border-radius: 15px;">
            <h5 class="card-title" style="color: #FFFFFF; font-size: 30px;">Quick Facts</h5>
            <div style="background-color: #212529; border-radius: 15px; padding: 15px; height: inherit;">
              <p class="card-text"><span style="color: #ffcc00;">Curfews:</span></p>
              <p class="card-text">Rialto 9pm-5am </p>
              <p class="card-text">Santee 7pm-6am </p>
              <p class="card-text">Santa Ana 10pm-5am</p>


            </div>
            <br>
            <div style="background-color: #212529; border-radius: 15px; padding: 15px;">
              <p class="card-text"><span style="color: #ffcc00;">National Guard Deployed:</span></p>
              <p class="card-text">Los Angeles: Deactivating 6/10/20</p>
              <p class="card-text">Long Beach: Deactivated</p>
              <p class="card-text">Vallejo: Deactivated</p>
              <p class="card-text">Sacramento: Deactivated</p>

            </div>
            <br>
            <div style="background-color: #212529; border-radius: 15px; padding: 15px;">
              <p class="card-text"><span style="color: #ffcc00;">COVID-19 Stats for CA:</span></p>
              <p class="card-text">Cases: <span style="color: #64DD9B;">136,323</span></p>
              <p class="card-text">Deceased: <span style="color: #F65164;">4,766</span></p>
              <p class="card-text">Active: <span style="color: #FFC137;">97,091</span></p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <%- include('../../footer'); -%>
</body>

</html>
